* {
    margin: 0 auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

body {
    background-color:forestgreen;
}

h1 {
    padding: 25px 0px 25px 0px;
}

#board {
    margin: 0 auto;
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* transform: rotate(45deg); */
}

.cell {
    color: black;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 28px;
    border: 2px solid black;
    font-weight: bold;
    transition-duration: 0.5s;
}

.cell:hover {
    opacity: 50%;
    transition-duration: 0.3s;
}

.cell:active {
    opacity: 100%;
    transform: translateY(5px);
    transform: translateX(5px);
    transition-duration: 0.2s;
}

.odd {
    background-color: red;
}

.even {
    background-color: white;
}

.x::before {
    content: "☠️"
}

.circle::before {
    content: "🤖"
}

button {
    margin: 30px auto 20px auto;
    font-weight: bold;
    background-color: black;
    color:blanchedalmond;
    height: 40px;
    width: 100px;
    border-radius: 15%;
    box-shadow: 5px 5px darkslategray;
}

button:hover {
    opacity: 50%;
    transition-duration: 0.2s;
}

button:active {
    opacity: 100%;
    box-shadow: 0 0 darkslategray;
    transform: translateY(5px);
    transform: translateX(5px);
    transition-duration: 0.2s;
}

#winStatus {
    font-size: 30px;
    font-weight: bold;
    margin: 0 autopx;
    position: relative;
}